# 0. 선작업

라이브러리 로딩

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

pyplot 한글 설정

In [2]:
plt.rcParams['font.family'] = 'Malgun Gothic'

Data Loading

In [4]:
energy_trading_by_locations = pd.read_csv('origin_data/지역별_전력거래량_20240502173346.csv', encoding='UTF-8')
energy_sale_by_locations_usages = pd.read_csv('origin_data/행정구역별_용도별_판매전력량_20240501132320.csv', encoding='UTF-8')
renew_energy_production_by_locations = pd.read_csv('origin_data/지역별_신·재생에너지_생산량_비재생폐기물_제외_20240501132022.csv', encoding='UTF-8')
renew_energy_generations_by_locations = pd.read_csv('origin_data/지역별_신·재생에너지_발전량_비재생폐기물_제외_20240501132124.csv', encoding='UTF-8')
energy_consumption_by_locations = pd.read_csv('origin_data/지역별_부문별_소비실적_20240501180330.csv', encoding='UTF-8')

# 1. 지역별 전력 거래량

In [426]:
data = energy_trading_by_locations.T
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
연도,지역별(1),전국,경기도,강원도,경상남도,경상북도,전라남도,전라북도,충청남도,충청북도,제주도,서울,인천,대전,광주,대구,세종,울산,부산
2020,전력거래량 (GWh),515983,70924,25593,32758,80585,51713,9871,105447,1551,3829,4956,54608,169,450,2511,3425,28611,38982
2020.1,전력거래량 비율 (%),100,13.7,5,6.3,15.6,10,1.9,20.4,0.3,0.7,1,10.6,0,0.1,0.5,0.7,5.5,7.6
2021,전력거래량 (GWh),537061,80234,27891,41105,75478,54381,10711,102740,1314,4074,5170,58059,177,461,2737,3642,30244,38643
2021.1,전력거래량 비율 (%),100,14.9,5.2,7.7,14.1,10.1,2,19.1,0.2,0.8,1,10.8,0,0.1,0.5,0.7,5.6,7.2
2022,전력거래량 (GWh),551380,83983,30959,46420,82646,51583,10483,99772,1701,4322,4183,52068,257,542,2370,3153,32279,44657
2022.1,전력거래량 비율 (%),100,15.2,5.6,8.4,15,9.4,1.9,18.1,0.3,0.8,0.8,9.4,0,0.1,0.4,0.6,5.9,8.1

연도별로 분류

In [427]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.set_index('연도/지역별(1)', inplace=True)
data.index.name = "지역"
data

,2020/전력거래량 (GWh),2020/전력거래량 비율 (%),2021/전력거래량 (GWh),2021/전력거래량 비율 (%),2022/전력거래량 (GWh),2022/전력거래량 비율 (%)
지역,,,,,,
전국,515983,100,537061,100,551380,100
경기도,70924,13.7,80234,14.9,83983,15.2
강원도,25593,5,27891,5.2,30959,5.6
경상남도,32758,6.3,41105,7.7,46420,8.4
경상북도,80585,15.6,75478,14.1,82646,15
전라남도,51713,10,54381,10.1,51583,9.4
전라북도,9871,1.9,10711,2,10483,1.9
충청남도,105447,20.4,102740,19.1,99772,18.1
충청북도,1551,0.3,1314,0.2,1701,0.3
제주도,3829,0.7,4074,0.8,4322,0.8
서울,4956,1,5170,1,4183,0.8
인천,54608,10.6,58059,10.8,52068,9.4
대전,169,0,177,0,257,0
광주,450,0.1,461,0.1,542,0.1
대구,2511,0.5,2737,0.5,2370,0.4
세종,3425,0.7,3642,0.7,3153,0.6
울산,28611,5.5,30244,5.6,32279,5.9
부산,38982,7.6,38643,7.2,44657,8.1

합계 무결성 확인

In [428]:
data.iloc[0].astype(float) == data.iloc[1:].astype(float).sum()

2020/전력거래량 (GWh)      True
2020/전력거래량 비율 (%)    False
2021/전력거래량 (GWh)      True
2021/전력거래량 비율 (%)     True
2022/전력거래량 (GWh)     False
2022/전력거래량 비율 (%)     True
dtype: bool

In [429]:
data_2020, data_2021, data_2022 = data.iloc[:, :2], data.iloc[:, 2:4], data.iloc[:, 4:6]

In [430]:
data_2020.columns = [i[5:] for i in data_2020.columns]
data_2020.to_csv("result_EnergyTrading_2020.csv")
data_2020

     전력거래량 (GWh) 전력거래량 비율 (%)
지역
전국        515983          100
경기도        70924         13.7
강원도        25593            5
경상남도       32758          6.3
경상북도       80585         15.6
전라남도       51713           10
전라북도        9871          1.9
충청남도      105447         20.4
충청북도        1551          0.3
제주도         3829          0.7
서울          4956            1
인천         54608         10.6
대전           169            0
광주           450          0.1
대구          2511          0.5
세종          3425          0.7
울산         28611          5.5
부산         38982          7.6

In [431]:
data_2021.columns = [i[5:] for i in data_2021.columns]
data_2021.to_csv("result_EnergyTrading_2021.csv")
data_2021

     전력거래량 (GWh) 전력거래량 비율 (%)
지역
전국        537061          100
경기도        80234         14.9
강원도        27891          5.2
경상남도       41105          7.7
경상북도       75478         14.1
전라남도       54381         10.1
전라북도       10711            2
충청남도      102740         19.1
충청북도        1314          0.2
제주도         4074          0.8
서울          5170            1
인천         58059         10.8
대전           177            0
광주           461          0.1
대구          2737          0.5
세종          3642          0.7
울산         30244          5.6
부산         38643          7.2

In [432]:
data_2022.columns = [i[5:] for i in data_2022.columns]
data_2022.to_csv("result_EnergyTrading_2022.csv")
data_2022

     전력거래량 (GWh) 전력거래량 비율 (%)
지역
전국        551380          100
경기도        83983         15.2
강원도        30959          5.6
경상남도       46420          8.4
경상북도       82646           15
전라남도       51583          9.4
전라북도       10483          1.9
충청남도       99772         18.1
충청북도        1701          0.3
제주도         4322          0.8
서울          4183          0.8
인천         52068          9.4
대전           257            0
광주           542          0.1
대구          2370          0.4
세종          3153          0.6
울산         32279          5.9
부산         44657          8.1

# 2. 행정구역별 용도별 판매 전력량

In [433]:
data = energy_sale_by_locations_usages.T
data.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
용도별(1),용도별(1),합계,가정용,공공용,서비스업,농림어업,광업,제조업(10차),제조업(10차),제조업(10차),...,제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차)
용도별(2),용도별(2),소계,소계,소계,소계,소계,소계,소계,식료품,음료,...,금속가공,전자통신,의료광학,전기장비,기타기계,자동차,기타운송,가구,기타제품,산업기계
2020,계,509269715,74073576,23622904,144443994,17036658,1552100,248540483,11533642,1167144,...,8408635,53310591,3843330,6901744,10169452,16488546,4169684,672950,2589300,76149
2020.1,서울,45787926,13982706,3432231,26860179,14757,1946,1496106,222159,15226,...,50703,44816,43400,16727,133553,16446,19093,3444,105774,1251
2020.2,부산,20503969,4837487,1249802,7416837,106915,18093,6874835,546699,21762,...,762541,96405,65270,127845,933894,1087609,205873,9689,33203,2654

행과 열 정리

In [434]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.head()

,용도별(/용도별(1),용도별(/용도별(2),2020/계,2020/서울,2020/부산,2020/대구,2020/인천,2020/광주,2020/대전,2020/울산,...,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주,2022/개성
1,합계,소계,509269715,45787926,20503969,14758568,23638583,8531108,9405221,33157834,...,140531012,17325520,29412227,50259638,21838474,34665105,44601033,36190920,6045356,-
2,가정용,소계,74073576,13982706,4837487,3411777,4294880,2154034,2019639,1611703,...,21128150,2332245,2434713,3250542,2597581,2606963,3763344,4863308,1005271,-
3,공공용,소계,23622904,3432231,1249802,808903,871533,524607,1029942,457346,...,6148678,1562036,1414053,1205339,1117563,1384767,1790827,1522501,360568,-
4,서비스업,소계,144443994,26860179,7416837,5406278,7391006,3165538,4026171,3614653,...,40545794,6626692,5613790,7707805,5313085,5915581,9033740,9371342,2843687,-
5,농림어업,소계,17036658,14757,106915,72005,143486,72418,32961,80504,...,2803262,791361,956883,2389068,1784102,3636671,2295285,2414495,1519101,-

In [435]:
data = data.iloc[:7].drop("용도별(/용도별(2)", axis=1)
data.set_index('용도별(/용도별(1)', inplace=True)
data.index.name = "용도"
data

,2020/계,2020/서울,2020/부산,2020/대구,2020/인천,2020/광주,2020/대전,2020/울산,2020/세종,2020/경기,...,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주,2022/개성
용도,,,,,,,,,,,,,,,,,,,,,
합계,509269715,45787926,20503969,14758568,23638583,8531108,9405221,33157834,3393223,124688964,...,140531012,17325520,29412227,50259638,21838474,34665105,44601033,36190920,6045356,-
가정용,74073576,13982706,4837487,3411777,4294880,2154034,2019639,1611703,558990,19387551,...,21128150,2332245,2434713,3250542,2597581,2606963,3763344,4863308,1005271,-
공공용,23622904,3432231,1249802,808903,871533,524607,1029942,457346,326228,5665320,...,6148678,1562036,1414053,1205339,1117563,1384767,1790827,1522501,360568,-
서비스업,144443994,26860179,7416837,5406278,7391006,3165538,4026171,3614653,806969,36288050,...,40545794,6626692,5613790,7707805,5313085,5915581,9033740,9371342,2843687,-
농림어업,17036658,14757,106915,72005,143486,72418,32961,80504,83300,2527503,...,2803262,791361,956883,2389068,1784102,3636671,2295285,2414495,1519101,-
광업,1552100,1946,18093,11484,53695,1754,906,13973,10923,258425,...,261890,445375,124485,339103,66663,76732,219137,61534,7929,-
제조업(10차),248540483,1496106,6874835,5048120,10883983,2612757,2295602,27379654,1606813,60562115,...,69643238,5567812,18868303,35367782,10959480,21044390,27498700,17957740,308801,-

합계 무결성 확인

In [436]:
data.replace("-", 0, inplace=True)
print(data.columns[data.iloc[0].astype(int) != data.iloc[1:].astype(int).sum()])
print(data.index[data.iloc[:,0].astype(int) != data.iloc[:,1:19].astype(int).sum(axis=1)])

Index(['2020/서울', '2020/대구', '2020/울산', '2020/충북', '2020/경남', '2020/제주',
       '2021/인천', '2021/광주', '2022/서울', '2022/인천', '2022/대전', '2022/울산',
       '2022/강원', '2022/충남', '2022/전남', '2022/제주'],
      dtype='object')
Index(['서비스업', '농림어업', '제조업(10차)'], dtype='object', name='용도')

C:\Users\User\AppData\Local\Temp\ipykernel_12264\3357892640.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace("-", 0, inplace=True)

연도별 분류

In [437]:
data_2020, data_2021, data_2022 = data.iloc[:, :19], data.iloc[:, 19:38], data.iloc[:, 38:]

In [438]:
data_2020.columns = [i[5:] for i in data_2020.columns]
data_2020 = data_2020.T
data_2020.to_csv("result_SalesPower_2020.csv")
data_2020

용도         합계       가정용       공공용       서비스업      농림어업       광업   제조업(10차)
계   509269715  74073576  23622904  144443994  17036658  1552100  248540483
서울   45787926  13982706   3432231   26860179     14757     1946    1496106
부산   20503969   4837487   1249802    7416837    106915    18093    6874835
대구   14758568   3411777    808903    5406278     72005    11484    5048120
인천   23638583   4294880    871533    7391006    143486    53695   10883983
광주    8531108   2154034    524607    3165538     72418     1754    2612757
대전    9405221   2019639   1029942    4026171     32961      906    2295602
울산   33157834   1611703    457346    3614653     80504    13973   27379654
세종    3393223    558990    326228     806969     83300    10923    1606813
경기  124688964  19387551   5665320   36288050   2527503   258425   60562115
강원   16120067   2197106   1385801    6175120    698450   446395    5217195
충북   26901894   2291890   1265385    5212990    834980   127046   17169602
충남   50422732   3038547   1061727    7468271   2043578   198913   36611696
전북   20538912   2519052   1066828    5048965   1547056    65127   10291884
전남   30973975   2500682   1177568    5708835   3187514    75960   18323416
경북   41001627   3631035   1586986    8480620   1937129   197009   25168848
경남   34069974   4718536   1395218    8915532   2254783    65373   16720533
제주    5373288    917914    316304    2457351   1399316     5078     277326
개성       1850        47      1175        628         0        0          0

In [439]:
data_2021.columns = [i[5:] for i in data_2021.columns]
data_2021 = data_2021.T
data_2021.to_csv("result_SalesPower_2021.csv")
data_2021

용도         합계       가정용       공공용       서비스업      농림어업       광업   제조업(10차)
계   533430811  77558386  25025912  148181597  18496161  1806892  262361863
서울   47295807  14656127   3575378   27499011     19189     1902    1544200
부산   21067833   4974889   1280159    7507103    110847    19576    7175259
대구   15443949   3461331    866403    5562421     79759    15128    5458907
인천   24901194   4586787    943788    7572381    166780    87829   11543628
광주    8973447   2215918    568578    3272320     76903     3490    2836237
대전    9748621   2102655   1107741    4112045     37039      877    2388264
울산   33593123   1638730    505195    3497844     90321    15117   27845916
세종    4295363    612111    342947    1520211     90952    11510    1717632
경기  133445948  20775255   5941474   37299472   2712094   271724   66445929
강원   16808006   2289719   1478686    6398541    783547   452010    5405503
충북   28402063   2385627   1360538    5365193    920412   128817   18241476
충남   48801626   3184715   1121942    7230648   2291760   341587   34630974
전북   21486861   2588903   1082470    5146076   1704721    69757   10894934
전남   33486886   2578822   1373405    5739917   3461170    82528   20251044
경북   44258297   3709248   1706260    8788905   2135822   228781   27689281
경남   35734059   4826057   1437292    9042660   2369741    68712   17989597
제주    5687730    971492    333656    2626848   1445104     7547     303083
개성          0         0         0          0         0        0          0

In [440]:
data_2022.columns = [i[5:] for i in data_2022.columns]
data_2022 = data_2022.T
data_2022.to_csv("result_SalesPower_2022.csv")
data_2022

용도         합계       가정용       공공용       서비스업      농림어업       광업   제조업(10차)
계   547932742  78557569  26218458  155219784  19285373  1758985  266892573
서울   48788677  14550103   3731551   28974161     19956     2004    1510903
부산   21493648   5054430   1318967    7934443    112183    20393    7053232
대구   16039260   3580477    896890    5850911     85684    16922    5608376
인천   25506864   4704964   1061842    8047040    165992    86695   11440330
광주    9116871   2249750    596484    3388222     87214     3438    2791763
대전   10016877   2142124   1196638    4281816     39500     1175    2355623
울산   32919181   1648161    540143    3481349     92980    13921   27142626
세종    3182079    645445    369610     290326     91637    11588    1773473
경기  140531012  21128150   6148678   40545794   2803262   261890   69643238
강원   17325520   2332245   1562036    6626692    791361   445375    5567812
충북   29412227   2434713   1414053    5613790    956883   124485   18868303
충남   50259638   3250542   1205339    7707805   2389068   339103   35367782
전북   21838474   2597581   1117563    5313085   1784102    66663   10959480
전남   34665105   2606963   1384767    5915581   3636671    76732   21044390
경북   44601033   3763344   1790827    9033740   2295285   219137   27498700
경남   36190920   4863308   1522501    9371342   2414495    61534   17957740
제주    6045356   1005271    360568    2843687   1519101     7929     308801
개성          0         0         0          0         0        0          0

# 3. 지역별 신재생에너지 생산량

In [441]:
data = renew_energy_production_by_locations.T
data.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
에너지원별(1),에너지원별(1),신·재생에너지 합계①+② (toe),신·재생에너지 합계①+② (toe),신·재생에너지 합계①+② (toe),신·재생에너지 지역별 공급비중 (%),① 재생에너지,① 재생에너지,① 재생에너지,① 재생에너지,① 재생에너지,...,① 재생에너지,① 재생에너지,① 재생에너지,① 재생에너지,① 재생에너지,② 신에너지,② 신에너지,② 신에너지,② 신에너지,② 신에너지
에너지원별(2),에너지원별(2),소계,① 재생에너지 합,② 신에너지 합,소계,태양열 (toe),태양광 (toe),태양광 (toe),태양광 (toe),풍력 (toe),...,폐기물 (toe),폐기물 (toe),폐기물 (toe),폐기물 (toe),폐기물 (toe),연료전지 (toe),연료전지 (toe),연료전지 (toe),IGCC (toe),IGCC (toe)
에너지원별(3),에너지원별(3),소계,소계,소계,소계,소계,소계,사업용,자가용,소계,...,산업폐기물,생활폐기물,시멘트킬른보조연료,SRF,정제연료유,소계,사업용,자가용,소계,사업용
2020,전국,12378065,11115797,1262268,100.00,26048,4165154,3504379,660775,671107,...,308446,410219,234334,212993,-,755887,742434,13453,506381,506381
2020.1,서울,303099,230350,72749,2.45,621,51584,9283,42301,47,...,-,69519,-,-,-,72749,71364,1385,-,-

행과 열 정리

In [442]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.head(10)

,에너지원/에너지원별(1),에너지원/에너지원별(2),에너지원/에너지원별(3),2020/전국,2020/서울,2020/부산,2020/대구,2020/인천,2020/광주,2020/대전,...,2022/세종,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주
1,신·재생에너지 합계①+② (toe),소계,소계,12378065,303099,189363,149874,489348,97865,90625,...,90157,1782795,1730425,851656,2163189,2539588,1754851,1288507,782019,679417
2,신·재생에너지 합계①+② (toe),① 재생에너지 합,소계,11115797,230350,150083,148164,286243,97126,83484,...,81552,1453494,1671606,807715,1640544,2515875,1692575,1282200,775878,679329
3,신·재생에너지 합계①+② (toe),② 신에너지 합,소계,1262268,72749,39280,1710,203105,739,7141,...,8605,329301,58819,43942,522644,23713,62277,6308,6142,88
4,신·재생에너지 지역별 공급비중 (%),소계,소계,100.00,2.45,1.53,1.21,3.95,0.79,0.73,...,0.57,11.35,11.02,5.42,13.77,16.17,11.17,8.20,4.98,4.33
5,① 재생에너지,태양열 (toe),소계,26048,621,732,837,616,568,616,...,102,2208,2492,1289,2079,1216,3532,4328,3874,279
6,① 재생에너지,태양광 (toe),소계,4165154,51584,49938,37493,42122,63325,20566,...,24538,464713,468677,369737,792320,1183907,1364272,875924,492688,169517
7,① 재생에너지,태양광 (toe),사업용,3504379,9283,29128,21278,21107,48889,7852,...,15598,317901,411415,296031,712666,1110016,1276247,795013,391363,144777
8,① 재생에너지,태양광 (toe),자가용,660775,42301,20810,16215,21015,14437,12714,...,8940,146812,57262,73706,79653,73890,88024,80912,101325,24740
9,① 재생에너지,풍력 (toe),소계,671107,47,56,6,11255,0,91,...,-,959,203379,17,456,34440,124776,194644,28436,122284
10,① 재생에너지,풍력 (toe),사업용,668708,-,31,-,11212,-,-,...,-,941,202876,-,430,34427,124071,194460,28067,121908

In [443]:
data = data[data.iloc[:,2] == "소계"]
data = data.drop("에너지원/에너지원별(3)", axis=1)
data.loc[1, "에너지원/에너지원별(2)"] = data.loc[1, "에너지원/에너지원별(1)"]
data.loc[4, "에너지원/에너지원별(2)"] = data.loc[4, "에너지원/에너지원별(1)"]
data = data.drop("에너지원/에너지원별(1)", axis=1)
data.set_index('에너지원/에너지원별(2)', inplace=True)
data.index.name = "에너지원"
data

,2020/전국,2020/서울,2020/부산,2020/대구,2020/인천,2020/광주,2020/대전,2020/울산,2020/세종,2020/경기,...,2022/세종,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주
에너지원,,,,,,,,,,,,,,,,,,,,,
신·재생에너지 합계①+② (toe),12378065,303099,189363,149874,489348,97865,90625,493628,73803,1554853,...,90157,1782795,1730425,851656,2163189,2539588,1754851,1288507,782019,679417
① 재생에너지 합,11115797,230350,150083,148164,286243,97126,83484,490626,65338,1292205,...,81552,1453494,1671606,807715,1640544,2515875,1692575,1282200,775878,679329
② 신에너지 합,1262268,72749,39280,1710,203105,739,7141,3002,8465,262648,...,8605,329301,58819,43942,522644,23713,62277,6308,6142,88
신·재생에너지 지역별 공급비중 (%),100.00,2.45,1.53,1.21,3.95,0.79,0.73,3.99,0.60,12.56,...,0.57,11.35,11.02,5.42,13.77,16.17,11.17,8.20,4.98,4.33
태양열 (toe),26048,621,732,837,616,568,616,331,116,2433,...,102,2208,2492,1289,2079,1216,3532,4328,3874,279
태양광 (toe),4165154,51584,49938,37493,42122,63325,20566,27380,18649,314446,...,24538,464713,468677,369737,792320,1183907,1364272,875924,492688,169517
풍력 (toe),671107,47,56,6,11255,0,91,323,-,1202,...,-,959,203379,17,456,34440,124776,194644,28436,122284
수력 (toe),826344,237,21,2759,8431,1660,55,310,-,138452,...,-,152857,249064,175602,11157,45345,11936,50805,46485,606
해양 (toe),97397,-,-,-,-,-,-,-,-,97396,...,-,90278,-,-,-,-,1,-,-,0
지열 (toe),240933,16451,2980,7441,8483,3753,5281,4196,14910,52494,...,16258,60038,24057,14148,24069,23817,19374,20559,16312,1771
수열 (toe),23647,-,46,-,157,-,-,-,-,8,...,-,97,709,15,1979,904,15175,739,4706,1955
바이오 (toe),3899174,91892,57336,77835,166108,25826,28511,372251,24117,444247,...,35240,431014,481691,71941,767937,1178969,83502,102072,124747,372699
폐기물 (toe),1165993,69519,38974,21793,49071,1992,28363,85835,7547,241528,...,5414,251332,241538,174966,40548,47277,70007,33129,58631,10218
연료전지 (toe),755887,72749,39280,1710,203105,739,7141,3002,8465,262648,...,8605,329301,58819,43942,104136,23713,62277,6308,6142,88
IGCC (toe),506381,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

연도별 분류

In [444]:
data.replace("-", 0, inplace=True)
data_2020, data_2021, data_2022 = data.iloc[:, :18], data.iloc[:, 18:36], data.iloc[:, 36:]

In [445]:
data_2020.columns = [i[5:] for i in data_2020.columns]
data_2020 = data_2020.T
data_2020.to_csv("result_RenewEnergyProduction_2020.csv")
data_2020

에너지원,신·재생에너지 합계①+② (toe),① 재생에너지 합,② 신에너지 합,신·재생에너지 지역별 공급비중 (%),태양열 (toe),태양광 (toe),풍력 (toe),수력 (toe),해양 (toe),지열 (toe),수열 (toe),바이오 (toe),폐기물 (toe),연료전지 (toe),IGCC (toe)
전국,12378065,11115797,1262268,100.00,26048,4165154,671107,826344,97397,240933,23647,3899174,1165993,755887,506381
서울,303099,230350,72749,2.45,621,51584,47,237,0,16451,0,91892,69519,72749,0
부산,189363,150083,39280,1.53,732,49938,56,21,0,2980,46,57336,38974,39280,0
대구,149874,148164,1710,1.21,837,37493,6,2759,0,7441,0,77835,21793,1710,0
인천,489348,286243,203105,3.95,616,42122,11255,8431,0,8483,157,166108,49071,203105,0
광주,97865,97126,739,0.79,568,63325,0,1660,0,3753,0,25826,1992,739,0
대전,90625,83484,7141,0.73,616,20566,91,55,0,5281,0,28511,28363,7141,0
울산,493628,490626,3002,3.99,331,27380,323,310,0,4196,0,372251,85835,3002,0
세종,73803,65338,8465,0.60,116,18649,0,0,0,14910,0,24117,7547,8465,0
경기,1554853,1292205,262648,12.56,2433,314446,1202,138452,97396,52494,8,444247,241528,262648,0
강원,1306481,1296002,10479,10.55,2848,302800,166671,226264,0,19691,661,397513,179556,10479,0
충북,720895,720753,141,5.82,1290,241466,6,215136,0,12166,5,97780,152904,141,0
충남,1764287,1160278,604009,14.25,2288,531816,640,13122,0,20659,1814,543873,46066,97628,506381
전북,1760693,1758844,1850,14.22,1248,694095,27948,60872,0,21015,804,900217,52645,1850,0
전남,1225665,1189846,35819,9.90,3074,850720,122787,24308,0,17203,13564,73455,84735,35819,0
경북,925025,918136,6890,7.47,4163,497421,201093,67950,0,17327,587,94521,35074,6890,0
경남,651123,646925,4198,5.26,3931,315560,15828,66040,0,15113,4159,169316,56979,4198,0
제주,581437,581394,44,4.70,336,105775,123154,728,1,1771,1844,334375,13411,44,0

In [446]:
data_2021.columns = [i[5:] for i in data_2021.columns]
data_2021 = data_2021.T
data_2021.to_csv("result_RenewEnergyProduction_2021.csv")
data_2021

에너지원,신·재생에너지 합계①+② (toe),① 재생에너지 합,② 신에너지 합,신·재생에너지 지역별 공급비중 (%),태양열 (toe),태양광 (toe),풍력 (toe),수력 (toe),해양 (toe),지열 (toe),수열 (toe),바이오 (toe),폐기물 (toe),연료전지 (toe),IGCC (toe)
전국,14000317,12510554,1489762,100.00,25568,5317227,677507,651227,96911,255590,24756,4263576,1198193,1023132,466631
서울,325737,232226,93510,2.33,561,55298,45,132,0,17900,18,81856,76416,93510,0
부산,213516,150968,62548,1.53,686,58882,15,9,0,3104,46,51370,36856,62548,0
대구,184664,181487,3177,1.32,738,44631,6,3092,0,8395,0,103172,21454,3177,0
인천,595688,276678,319009,4.25,577,49014,8415,8765,0,8666,157,153890,47195,319009,0
광주,99072,98033,1039,0.71,540,70029,1,1753,0,3835,0,20475,1400,1039,0
대전,91966,83514,8453,0.66,570,23997,87,59,0,5807,0,26553,26441,8453,0
울산,501111,489254,11857,3.58,307,32384,372,244,0,4414,0,355707,95826,11857,0
세종,84544,75206,9338,0.60,109,20576,0,0,0,15683,0,30497,8340,9338,0
경기,1664252,1354582,309670,11.89,2305,384178,998,134900,96907,55341,19,426130,253804,309670,0
강원,1558778,1527182,31596,11.13,2684,393308,201821,151904,0,21462,684,539973,215346,31596,0
충북,697775,686054,11721,4.98,1345,304063,11,155715,0,13116,5,62300,149498,11721,0
충남,1985783,1422595,563188,14.18,2132,663622,437,12205,0,21792,1909,680646,39853,96557,466631
전북,2116947,2114538,2409,15.12,1215,905410,31080,50892,0,21717,841,1053063,50321,2409,0
전남,1465050,1416169,48881,10.46,3296,1112350,111982,18346,3,18687,14078,71578,65850,48881,0
경북,1080720,1072946,7774,7.72,4298,659785,194906,62247,0,18454,661,96082,36512,7774,0
경남,710771,705268,5503,5.08,3899,394225,14551,50280,0,15448,4412,164483,57968,5503,0
제주,623944,623855,89,4.46,306,145474,112780,685,1,1771,1927,345800,15112,89,0

In [447]:
data_2022.columns = [i[5:] for i in data_2022.columns]
data_2022 = data_2022.T
data_2022.to_csv("result_RenewEnergyProduction_2022.csv")
data_2022

에너지원,신·재생에너지 합계①+② (toe),① 재생에너지 합,② 신에너지 합,신·재생에너지 지역별 공급비중 (%),태양열 (toe),태양광 (toe),풍력 (toe),수력 (toe),해양 (toe),지열 (toe),수열 (toe),바이오 (toe),폐기물 (toe),연료전지 (toe),IGCC (toe)
전국,15706206,14134169,1572037,100.00,25035,6609387,717864,755117,90279,279650,26543,4372872,1257422,1153529,0
서울,317023,245539,71483,2.02,503,65697,46,81,0,20070,18,89647,69477,71483,0
부산,236408,166498,69911,1.51,617,71015,16,55,0,3610,73,58160,32952,69911,0
대구,179814,176575,3238,1.14,648,55601,6,3188,0,9877,0,73361,33895,3238,0
인천,586824,299790,287034,3.74,543,57128,8263,6481,0,9912,157,167582,49723,287034,0
광주,128439,114533,13906,0.82,520,84614,2,1335,0,3914,0,22761,1387,13906,0
대전,114634,96207,18427,0.73,528,30136,88,28,0,7025,0,25098,33304,18427,0
울산,480459,434258,46201,3.06,277,38903,54,93,0,4839,17,286450,103624,46201,0
세종,90157,81552,8605,0.57,102,24538,0,0,0,16258,0,35240,5414,8605,0
경기,1782795,1453494,329301,11.35,2208,464713,959,152857,90278,60038,97,431014,251332,329301,0
강원,1730425,1671606,58819,11.02,2492,468677,203379,249064,0,24057,709,481691,241538,58819,0
충북,851656,807715,43942,5.42,1289,369737,17,175602,0,14148,15,71941,174966,43942,0
충남,2163189,1640544,522644,13.77,2079,792320,456,11157,0,24069,1979,767937,40548,104136,0
전북,2539588,2515875,23713,16.17,1216,1183907,34440,45345,0,23817,904,1178969,47277,23713,0
전남,1754851,1692575,62277,11.17,3532,1364272,124776,11936,1,19374,15175,83502,70007,62277,0
경북,1288507,1282200,6308,8.20,4328,875924,194644,50805,0,20559,739,102072,33129,6308,0
경남,782019,775878,6142,4.98,3874,492688,28436,46485,0,16312,4706,124747,58631,6142,0
제주,679417,679329,88,4.33,279,169517,122284,606,0,1771,1955,372699,10218,88,0

# 4. 행정구역별 신재생 에너지 발전량

In [448]:
data = renew_energy_generations_by_locations.T
data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,68,69,70,71,72
에너지원별(1),에너지원별(1),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),신·재생에너지 총발전량①+② (MWh),...,① 재생에너지,① 재생에너지,① 재생에너지,① 재생에너지,① 재생에너지,② 신에너지,② 신에너지,② 신에너지,② 신에너지,② 신에너지
에너지원별(2),에너지원별(2),소계,사업용,자가용,① 재생에너지 합,① 재생에너지 합,① 재생에너지 합,② 신에너지 합,② 신에너지 합,② 신에너지 합,...,폐기물 (MWh),폐기물 (MWh),폐기물 (MWh),폐기물 (MWh),폐기물 (MWh),연료전지 (MWh),연료전지 (MWh),연료전지 (MWh),IGCC (MWh),IGCC (MWh)
에너지원별(3),에너지원별(3),소계,소계,소계,소계,사업용,자가용,소계,사업용,자가용,...,SRF,시멘트킬른보조연료,시멘트킬른보조연료,정제연료유,정제연료유,소계,사업용,자가용,소계,사업용
에너지원별(4),에너지원별(4),소계,소계,소계,소계,소계,소계,소계,소계,소계,...,자가용,소계,자가용,소계,사업용,소계,소계,소계,소계,소계
2020,전국,43123776,39791354,3332422,37202048,33928372,3273676,5921728,5862982,58746,...,3984,-,-,-,-,3544354,3485608,58746,2377374,2377374
2020.1,서울,646174,438369,207805,305085,103329,201755,341090,335040,6050,...,-,-,-,-,-,341090,335040,6050,-,-
2020.2,부산,465586,371099,94487,281257,187877,93380,184330,183222,1107,...,-,-,-,-,-,184330,183222,1107,-,-
2020.3,대구,226446,133032,93414,218595,127530,91065,7851,5502,2349,...,3451,-,-,-,-,7851,5502,2349,-,-
2020.4,인천,1474011,1380003,94008,520583,428146,92438,953427,951857,1570,...,-,-,-,-,-,953427,951857,1570,-,-
2020.5,광주,313908,247636,66272,310682,247636,63045,3227,-,3227,...,-,-,-,-,-,3227,-,3227,-,-

행과 열 정리

In [449]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.head(10)

,에너지원/에너지원별(1),에너지원/에너지원별(2),에너지원/에너지원별(3),에너지원/에너지원별(4),2020/전국,2020/서울,2020/부산,2020/대구,2020/인천,2020/광주,...,2022/세종,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주
1,신·재생에너지 총발전량①+② (MWh),소계,소계,소계,43123776,646174,465586,226446,1474011,313908,...,169375,5269025,6479493,2785854,9023827,10385213,7481402,5315057,2867620,2996072
2,신·재생에너지 총발전량①+② (MWh),사업용,소계,소계,39791354,438369,371099,133032,1380003,247636,...,129900,4593272,6226302,2458115,8500371,10060735,7091288,4943687,2409541,2883863
3,신·재생에너지 총발전량①+② (MWh),자가용,소계,소계,3332422,207805,94487,93414,94008,66272,...,39475,675753,253191,327739,523456,324479,390114,371370,458079,112209
4,신·재생에너지 총발전량①+② (MWh),① 재생에너지 합,소계,소계,37202048,305085,281257,218595,520583,310682,...,128981,3723948,6203412,2579630,6570279,10274015,7189211,5285824,2839026,2995689
5,신·재생에너지 총발전량①+② (MWh),① 재생에너지 합,사업용,소계,33928372,103329,187877,127530,428146,247636,...,89576,3060639,5951086,2252893,6049240,9951295,6801583,4919523,2384152,2883863
6,신·재생에너지 총발전량①+② (MWh),① 재생에너지 합,자가용,소계,3273676,201755,93380,91065,92438,63045,...,39405,663309,252326,326737,521040,322720,387628,366301,454874,111826
7,신·재생에너지 총발전량①+② (MWh),② 신에너지 합,소계,소계,5921728,341090,184330,7851,953427,3227,...,40394,1545077,276081,206224,2453548,111198,292191,29233,28593,383
8,신·재생에너지 총발전량①+② (MWh),② 신에너지 합,사업용,소계,5862982,335040,183222,5502,951857,-,...,40324,1532633,275216,205222,2451131,109439,289705,24164,25388,-
9,신·재생에너지 총발전량①+② (MWh),② 신에너지 합,자가용,소계,58746,6050,1107,2349,1570,3227,...,70,12444,865,1002,2416,1759,2487,5069,3205,383
10,신·재생에너지 지역별 발전비중 (%),소계,소계,소계,100.00,1.50,1.08,0.53,3.42,0.73,...,0.29,9.12,11.21,4.82,15.62,17.97,12.95,9.20,4.96,5.19

In [450]:
data = data[data.iloc[:,2] == "소계"]
data = data.drop(["에너지원/에너지원별(3)", "에너지원/에너지원별(4)"], axis=1)
data.loc[1, "에너지원/에너지원별(2)"] = data.loc[1, "에너지원/에너지원별(1)"]
data.loc[10, "에너지원/에너지원별(2)"] = data.loc[10, "에너지원/에너지원별(1)"]
data = data.drop([2,3])
data = data.drop("에너지원/에너지원별(1)", axis=1)
data.set_index('에너지원/에너지원별(2)', inplace=True)
data.index.name = "에너지원"
data

,2020/전국,2020/서울,2020/부산,2020/대구,2020/인천,2020/광주,2020/대전,2020/울산,2020/세종,2020/경기,...,2022/세종,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주
에너지원,,,,,,,,,,,,,,,,,,,,,
신·재생에너지 총발전량①+② (MWh),43123776,646174,465586,226446,1474011,313908,125281,946151,155971,4162365,...,169375,5269025,6479493,2785854,9023827,10385213,7481402,5315057,2867620,2996072
① 재생에너지 합,37202048,305085,281257,218595,520583,310682,93553,932221,116237,2929914,...,128981,3723948,6203412,2579630,6570279,10274015,7189211,5285824,2839026,2995689
② 신에너지 합,5921728,341090,184330,7851,953427,3227,31727,13930,39734,1232451,...,40394,1545077,276081,206224,2453548,111198,292191,29233,28593,383
신·재생에너지 지역별 발전비중 (%),100.00,1.50,1.08,0.53,3.42,0.73,0.29,2.19,0.36,9.65,...,0.29,9.12,11.21,4.82,15.62,17.97,12.95,9.20,4.96,5.19
태양광 (MWh),19337964,228302,227625,170703,190865,292567,92382,124484,85394,1441434,...,112270,2133592,2181578,1711676,3693682,5534009,6376158,4085780,2279853,787739
풍력 (MWh),3149948,204,253,26,52828,2,398,1514,-,5637,...,-,4495,954664,73,2133,161686,585571,913760,133380,573980
수력 (MWh),3879383,1112,93,12951,39579,7795,241,1457,-,649895,...,-,717533,1169315,824421,52379,212888,56039,238520,218238,2829
해양 (MWh),457263,-,-,-,-,-,-,-,-,457257,...,-,423839,-,-,-,-,3,-,-,1
바이오 (MWh),9938354,29554,9827,29663,228842,4779,-,799437,25790,302620,...,12460,379897,1883771,8211,2810616,4347686,93969,19547,191845,1611653
폐기물 (MWh),439137,45912,43458,5252,8470,5539,533,5330,5053,73072,...,4251,64591,14084,35249,11469,17747,77472,28216,15711,19487
연료전지 (MWh),3544354,341090,184330,7851,953427,3227,31727,13930,39734,1232451,...,40394,1545077,276081,206224,488720,111198,292191,29233,28593,383
IGCC (MWh),2377374,-,-,-,-,-,-,-,-,-,...,-,-,-,-,1964827,-,-,-,-,-

연도별 분류

In [451]:
data.replace("-", 0, inplace=True)
data_2020, data_2021, data_2022 = data.iloc[:, :18], data.iloc[:, 18:36], data.iloc[:, 36:]

In [452]:
data_2020.columns = [i[5:] for i in data_2020.columns]
data_2020 = data_2020.T
data_2020.to_csv("result_RenewEnergyGeneration_2020.csv")
data_2020

에너지원,신·재생에너지 총발전량①+② (MWh),① 재생에너지 합,② 신에너지 합,신·재생에너지 지역별 발전비중 (%),태양광 (MWh),풍력 (MWh),수력 (MWh),해양 (MWh),바이오 (MWh),폐기물 (MWh),연료전지 (MWh),IGCC (MWh)
전국,43123776,37202048,5921728,100.00,19337964,3149948,3879383,457263,9938354,439137,3544354,2377374
서울,646174,305085,341090,1.50,228302,204,1112,0,29554,45912,341090,0
부산,465586,281257,184330,1.08,227625,253,93,0,9827,43458,184330,0
대구,226446,218595,7851,0.53,170703,26,12951,0,29663,5252,7851,0
인천,1474011,520583,953427,3.42,190865,52828,39579,0,228842,8470,953427,0
광주,313908,310682,3227,0.73,292567,2,7795,0,4779,5539,3227,0
대전,125281,93553,31727,0.29,92382,398,241,0,0,533,31727,0
울산,946151,932221,13930,2.19,124484,1514,1457,0,799437,5330,13930,0
세종,155971,116237,39734,0.36,85394,0,0,0,25790,5053,39734,0
경기,4162365,2929914,1232451,9.65,1441434,5637,649895,457257,302620,73072,1232451,0
강원,4854631,4805455,49176,11.26,1408461,782333,1062271,0,1527599,24791,49176,0
충북,2155759,2155142,617,5.00,1115632,28,1010026,0,8846,20610,617,0
충남,7329833,4494230,2835603,17.00,2479172,3001,61599,0,1933197,17261,458230,2377374
전북,6841164,6832526,8638,15.86,3241991,131208,285784,0,3157632,15911,8638,0
전남,4938585,4770519,168067,11.45,3972969,576232,114120,0,45367,61831,168067,0
경북,3694386,3662355,32031,8.57,2317698,944038,319014,0,29698,51907,32031,0
경남,2312863,2293227,19637,5.36,1457496,74184,310046,0,434237,17263,19637,0
제주,2480660,2480469,191,5.75,490790,578062,3399,6,1371267,36946,191,0

In [453]:
data_2021.columns = [i[5:] for i in data_2021.columns]
data_2021 = data_2021.T
data_2021.to_csv("result_RenewEnergyGeneration_2021.csv")
data_2021

에너지원,신·재생에너지 총발전량①+② (MWh),① 재생에너지 합,② 신에너지 합,신·재생에너지 지역별 발전비중 (%),태양광 (MWh),풍력 (MWh),수력 (MWh),해양 (MWh),바이오 (MWh),폐기물 (MWh),연료전지 (MWh),IGCC (MWh)
전국,50657393,43668518,6988875,100.00,24717623,3180017,3057210,454980,11788068,470620,4798120,2190755
서울,782277,343803,438474,1.54,244804,198,618,0,28706,69477,438474,0
부산,616236,322758,293478,1.22,268850,67,41,0,14294,39506,293478,0
대구,251812,237111,14701,0.50,203414,25,14518,0,14158,4996,14701,0
인천,2020296,522823,1497473,3.99,222103,39490,41096,0,210856,9278,1497473,0
광주,345741,341185,4557,0.68,323404,5,8230,0,3107,6438,4557,0
대전,148871,111077,37794,0.29,107759,379,257,0,0,2683,37794,0
울산,902327,846768,55559,1.78,147698,1745,1144,0,689987,6193,55559,0
세종,170224,126389,43834,0.34,94225,0,0,0,27461,4704,43834,0
경기,4733827,3280766,1453062,9.34,1764822,4680,633233,454961,346957,76112,1453062,0
강원,5888937,5740642,148294,11.63,1831240,947359,713162,0,2225996,22885,148294,0
충북,2225401,2170437,54965,4.39,1407403,49,731058,0,8492,23435,54965,0
충남,8489538,5845613,2643925,16.76,3094979,2047,57296,0,2677939,13352,453170,2190755
전북,8325469,8314254,11215,16.43,4231407,145910,238930,0,3676706,21301,11215,0
전남,6158271,5928947,229324,12.16,5198466,525511,86132,13,57690,61136,229324,0
경북,4393519,4357360,36159,8.67,3076962,914994,292238,0,22778,50388,36159,0
경남,2542146,2516475,25672,5.02,1823756,68197,236059,0,372760,15702,25672,0
제주,2662500,2662109,390,5.26,676330,529363,3198,6,1410179,43033,390,0

In [454]:
data_2022.columns = [i[5:] for i in data_2022.columns]
data_2022 = data_2022.T
data_2022.to_csv("result_RenewEnergyGeneration_2022.csv")
data_2022

에너지원,신·재생에너지 총발전량①+② (MWh),① 재생에너지 합,② 신에너지 합,신·재생에너지 지역별 발전비중 (%),태양광 (MWh),풍력 (MWh),수력 (MWh),해양 (MWh),바이오 (MWh),폐기물 (MWh),연료전지 (MWh),IGCC (MWh)
전국,57779999,50405547,7374452,100.00,30726260,3369458,3544866,423843,11927592,413529,5409625,1964827
서울,723176,388180,334996,1.25,290528,202,379,0,27783,69288,334996,0
부산,693590,365617,327973,1.20,324351,69,244,0,12534,28419,327973,0
대구,293356,278409,14947,0.51,253577,26,14966,0,6072,3768,14947,0
인천,1911643,564400,1347243,3.31,258249,38774,30288,0,228231,8858,1347243,0
광주,471271,406332,64940,0.82,390494,8,6269,0,3051,6510,64940,0
대전,224281,139650,84631,0.39,135265,386,122,0,0,3878,84631,0
울산,689744,472944,216800,1.19,177458,250,437,0,290267,4532,216800,0
세종,169375,128981,40394,0.29,112270,0,0,0,12460,4251,40394,0
경기,5269025,3723948,1545077,9.12,2133592,4495,717533,423839,379897,64591,1545077,0
강원,6479493,6203412,276081,11.21,2181578,954664,1169315,0,1883771,14084,276081,0
충북,2785854,2579630,206224,4.82,1711676,73,824421,0,8211,35249,206224,0
충남,9023827,6570279,2453548,15.62,3693682,2133,52379,0,2810616,11469,488720,1964827
전북,10385213,10274015,111198,17.97,5534009,161686,212888,0,4347686,17747,111198,0
전남,7481402,7189211,292191,12.95,6376158,585571,56039,3,93969,77472,292191,0
경북,5315057,5285824,29233,9.20,4085780,913760,238520,0,19547,28216,29233,0
경남,2867620,2839026,28593,4.96,2279853,133380,218238,0,191845,15711,28593,0
제주,2996072,2995689,383,5.19,787739,573980,2829,1,1611653,19487,383,0

# 5. 지역별 부문별 소비실적

In [9]:
data = energy_consumption_by_locations.T
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
연도,지역별(1),계,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2020,총계,154943952,X,2435787,1099122,14231935,386334,905867,12871197,X,19411964,7667671,3276264,39285683,3320002,24500001,12102220,8971442,413364
2020.1,산업,98743839,348806,736492,952094,4708752,317597,380113,11452081,167949,16724962,4522113,3175934,16834721,2871501,22481880,11476949,1575680,16215
2020.2,건물,2823334,1047532,188083,76886,146973,40917,190112,25187,12032,668890,110581,48919,43198,38365,24146,54722,82444,24347
2020.3,수송,2777892,941563,333798,70141,121324,27820,335642,43543,-,475177,32544,51411,35013,46821,74994,71605,83915,32581
2020.4,발전,50598888,X,1177414,-,9254886,-,-,1350386,X,1542935,3002434,-,22372751,363314,1918982,498944,7229404,340222
2020.5,계(발전제외),104345064,2337902,1258374,1099122,4977049,386334,905867,11520810,179980,17869029,4665238,3276264,16912932,2956687,22581019,11603276,1742039,73142
2021,총계,162357441,X,X,1211986,14654026,410061,930373,X,X,21441502,8057999,3333840,38891705,X,26149345,12123634,10960519,461836
2021.1,산업,104233378,377290,738556,1056328,4653756,336299,396631,11609861,175291,18215915,4390806,3231346,16637546,3098024,24145695,11576772,3575757,17507
2021.2,건물,2947581,1083970,185605,77871,153777,43654,200231,22700,14524,712522,111354,52511,46833,38136,23250,56378,88263,36003
2021.3,수송,2840652,1021857,340142,77787,119384,30109,333511,43821,-,467647,26574,49983,33138,39378,81320,71223,76859,27921
2021.4,발전,52335829,X,X,-,9727109,-,-,X,X,2045419,3529265,-,22174188,X,1899081,419261,7219639,380405
2021.5,계(발전제외),110021612,2483116,1264303,1211986,4926917,410061,930373,11676382,189815,19396084,4528733,3333840,16717517,3175537,24250264,11704373,3740879,81431
2022,총계,159111027,X,X,1165227,13359509,409018,915067,X,X,22641088,9108374,3359185,38337059,X,23626333,10673381,12278005,630321
2022.1,산업,102690999,416623,733396,1001669,4174058,335596,380548,11163931,189854,19118946,4951493,3255048,17086308,2855605,22461725,10091366,4456729,18105
2022.2,건물,3179263,1149622,192351,84660,166295,47187,213930,22598,14857,797934,126054,54817,62116,41228,22879,58929,86191,37618
2022.3,수송,2879226,1040780,344440,78898,126810,26235,320589,47232,-,450932,38128,49320,33554,40000,97027,67147,83713,34420
2022.4,발전,50361539,X,X,-,8892346,-,-,X,X,2273277,3992700,-,21155082,X,1044702,455940,7651372,540178
2022.5,계(발전제외),108749488,2607025,1270187,1165227,4467163,409018,915067,11233761,204710,20367811,5115674,3359185,17181977,2936834,22581631,10217442,4626633,90143

In [10]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.set_index('연도/지역별(1)', inplace=True)
data.index.name = "지역"
data

,2020/총계,2020/산업,2020/건물,2020/수송,2020/발전,2020/계(발전제외),2021/총계,2021/산업,2021/건물,2021/수송,2021/발전,2021/계(발전제외),2022/총계,2022/산업,2022/건물,2022/수송,2022/발전,2022/계(발전제외)
지역,,,,,,,,,,,,,,,,,,
계,154943952,98743839,2823334,2777892,50598888,104345064,162357441,104233378,2947581,2840652,52335829,110021612,159111027,102690999,3179263,2879226,50361539,108749488
서울,X,348806,1047532,941563,X,2337902,X,377290,1083970,1021857,X,2483116,X,416623,1149622,1040780,X,2607025
부산,2435787,736492,188083,333798,1177414,1258374,X,738556,185605,340142,X,1264303,X,733396,192351,344440,X,1270187
대구,1099122,952094,76886,70141,-,1099122,1211986,1056328,77871,77787,-,1211986,1165227,1001669,84660,78898,-,1165227
인천,14231935,4708752,146973,121324,9254886,4977049,14654026,4653756,153777,119384,9727109,4926917,13359509,4174058,166295,126810,8892346,4467163
광주,386334,317597,40917,27820,-,386334,410061,336299,43654,30109,-,410061,409018,335596,47187,26235,-,409018
대전,905867,380113,190112,335642,-,905867,930373,396631,200231,333511,-,930373,915067,380548,213930,320589,-,915067
울산,12871197,11452081,25187,43543,1350386,11520810,X,11609861,22700,43821,X,11676382,X,11163931,22598,47232,X,11233761
세종,X,167949,12032,-,X,179980,X,175291,14524,-,X,189815,X,189854,14857,-,X,204710
경기,19411964,16724962,668890,475177,1542935,17869029,21441502,18215915,712522,467647,2045419,19396084,22641088,19118946,797934,450932,2273277,20367811
강원,7667671,4522113,110581,32544,3002434,4665238,8057999,4390806,111354,26574,3529265,4528733,9108374,4951493,126054,38128,3992700,5115674
충북,3276264,3175934,48919,51411,-,3276264,3333840,3231346,52511,49983,-,3333840,3359185,3255048,54817,49320,-,3359185
충남,39285683,16834721,43198,35013,22372751,16912932,38891705,16637546,46833,33138,22174188,16717517,38337059,17086308,62116,33554,21155082,17181977
전북,3320002,2871501,38365,46821,363314,2956687,X,3098024,38136,39378,X,3175537,X,2855605,41228,40000,X,2936834
전남,24500001,22481880,24146,74994,1918982,22581019,26149345,24145695,23250,81320,1899081,24250264,23626333,22461725,22879,97027,1044702,22581631
경북,12102220,11476949,54722,71605,498944,11603276,12123634,11576772,56378,71223,419261,11704373,10673381,10091366,58929,67147,455940,10217442
경남,8971442,1575680,82444,83915,7229404,1742039,10960519,3575757,88263,76859,7219639,3740879,12278005,4456729,86191,83713,7651372,4626633
제주,413364,16215,24347,32581,340222,73142,461836,17507,36003,27921,380405,81431,630321,18105,37618,34420,540178,90143

In [11]:
data_2020, data_2021, data_2022 = data.iloc[:, :6], data.iloc[:, 6:12], data.iloc[:, 12:]

In [12]:
data_2020

      2020/총계   2020/산업  2020/건물  2020/수송   2020/발전 2020/계(발전제외)
지역
계   154943952  98743839  2823334  2777892  50598888    104345064
서울          X    348806  1047532   941563         X      2337902
부산    2435787    736492   188083   333798   1177414      1258374
대구    1099122    952094    76886    70141         -      1099122
인천   14231935   4708752   146973   121324   9254886      4977049
광주     386334    317597    40917    27820         -       386334
대전     905867    380113   190112   335642         -       905867
울산   12871197  11452081    25187    43543   1350386     11520810
세종          X    167949    12032        -         X       179980
경기   19411964  16724962   668890   475177   1542935     17869029
강원    7667671   4522113   110581    32544   3002434      4665238
충북    3276264   3175934    48919    51411         -      3276264
충남   39285683  16834721    43198    35013  22372751     16912932
전북    3320002   2871501    38365    46821    363314      2956687
전남   24500001  22481880    24146    74994   1918982     22581019
경북   12102220  11476949    54722    71605    498944     11603276
경남    8971442   1575680    82444    83915   7229404      1742039
제주     413364     16215    24347    32581    340222        73142

In [8]:
data_2020.columns = [i[5:] for i in data_2020.columns]
data_2020.to_csv("result_EnergyConsumption_2020.csv")
data_2020

           총계        산업       건물       수송        발전    계(발전제외)
지역
계   154943952  98743839  2823334  2777892  50598888  104345064
서울          X    348806  1047532   941563         X    2337902
부산    2435787    736492   188083   333798   1177414    1258374
대구    1099122    952094    76886    70141         -    1099122
인천   14231935   4708752   146973   121324   9254886    4977049
광주     386334    317597    40917    27820         -     386334
대전     905867    380113   190112   335642         -     905867
울산   12871197  11452081    25187    43543   1350386   11520810
세종          X    167949    12032        -         X     179980
경기   19411964  16724962   668890   475177   1542935   17869029
강원    7667671   4522113   110581    32544   3002434    4665238
충북    3276264   3175934    48919    51411         -    3276264
충남   39285683  16834721    43198    35013  22372751   16912932
전북    3320002   2871501    38365    46821    363314    2956687
전남   24500001  22481880    24146    74994   1918982   22581019
경북   12102220  11476949    54722    71605    498944   11603276
경남    8971442   1575680    82444    83915   7229404    1742039
제주     413364     16215    24347    32581    340222      73142

In [467]:
data_2021.columns = [i[5:] for i in data_2021.columns]
data_2021.to_csv("result_EnergyConsumption_2021.csv")
data_2021

           총계         산업       건물       수송        발전    계(발전제외)
지역
계   162357441  104233378  2947581  2840652  52335829  110021612
서울          X     377290  1083970  1021857         X    2483116
부산          X     738556   185605   340142         X    1264303
대구    1211986    1056328    77871    77787         -    1211986
인천   14654026    4653756   153777   119384   9727109    4926917
광주     410061     336299    43654    30109         -     410061
대전     930373     396631   200231   333511         -     930373
울산          X   11609861    22700    43821         X   11676382
세종          X     175291    14524        -         X     189815
경기   21441502   18215915   712522   467647   2045419   19396084
강원    8057999    4390806   111354    26574   3529265    4528733
충북    3333840    3231346    52511    49983         -    3333840
충남   38891705   16637546    46833    33138  22174188   16717517
전북          X    3098024    38136    39378         X    3175537
전남   26149345   24145695    23250    81320   1899081   24250264
경북   12123634   11576772    56378    71223    419261   11704373
경남   10960519    3575757    88263    76859   7219639    3740879
제주     461836      17507    36003    27921    380405      81431

In [468]:
data_2022.columns = [i[5:] for i in data_2022.columns]
data_2022.to_csv("result_EnergyConsumption_2022.csv")
data_2022

           총계         산업       건물       수송        발전    계(발전제외)
지역
계   159111027  102690999  3179263  2879226  50361539  108749488
서울          X     416623  1149622  1040780         X    2607025
부산          X     733396   192351   344440         X    1270187
대구    1165227    1001669    84660    78898         -    1165227
인천   13359509    4174058   166295   126810   8892346    4467163
광주     409018     335596    47187    26235         -     409018
대전     915067     380548   213930   320589         -     915067
울산          X   11163931    22598    47232         X   11233761
세종          X     189854    14857        -         X     204710
경기   22641088   19118946   797934   450932   2273277   20367811
강원    9108374    4951493   126054    38128   3992700    5115674
충북    3359185    3255048    54817    49320         -    3359185
충남   38337059   17086308    62116    33554  21155082   17181977
전북          X    2855605    41228    40000         X    2936834
전남   23626333   22461725    22879    97027   1044702   22581631
경북   10673381   10091366    58929    67147    455940   10217442
경남   12278005    4456729    86191    83713   7651372    4626633
제주     630321      18105    37618    34420    540178      90143