In [1]:
import pandas as pd
import numpy as np

In [2]:
energy_trading_by_locations = pd.read_csv('origin_data/지역별_전력거래량_20240511105123.csv')
energy_sale_by_locations_usages = pd.read_csv('origin_data/행정구역별_용도별_판매전력량_20240511104008.csv')
renew_energy_production_by_locations = pd.read_csv('origin_data/지역별_신·재생에너지_생산량_비재생폐기물_제외_20240511104745.csv')
renew_energy_generations_by_locations = pd.read_csv('origin_data/지역별_신·재생에너지_발전량_비재생폐기물_제외_20240511104856.csv')
energy_consumption_by_locations = pd.read_csv('origin_data/지역별_부문별_소비실적_20240511104921.csv')
energy_generations_by_year_month = pd.read_csv('origin_data/발전전력량_추이_20240513140738.csv')

**1. 지역별 전력거래량**<a id='toc0_'></a>    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [16]:
data = energy_trading_by_locations.T
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
지역별(1),지역별(1),전국,경기도,강원도,경상남도,경상북도,전라남도,전라북도,충청남도,충청북도,제주도,서울,인천,대전,광주,대구,세종,울산,부산
2012,전력거래량 (GWh),471795,23567,10996,59496,66408,60562,7720,108544,1253,2870,1908,68214,192,41,220,8,12908,46888
2012.1,전력거래량 비율 (%),100.0,5.0,2.3,12.6,14.1,12.8,1.6,23.0,0.3,0.6,0.4,14.5,0.0,0.0,0.0,0.0,2.7,9.9
2013,전력거래량 (GWh),479541,28692,11631,59730,65007,58081,7637,112811,1249,2964,1603,73208,200,449,210,618,12659,42790
2013.1,전력거래량 비율 (%),100.0,6.0,2.4,12.5,13.6,12.1,1.6,23.5,0.3,0.6,0.3,15.3,0.0,0.1,0.0,0.1,2.6,8.9
2014,전력거래량 (GWh),490399,33053,9463,56368,73023,63338,7244,108894,877,2775,770,69097,156,396,515,2689,9768,51972
2014.1,전력거래량 비율 (%),100.0,6.7,1.9,11.5,14.9,12.9,1.5,22.2,0.2,0.6,0.2,14.1,0.0,0.1,0.1,0.5,2.0,10.6
2015,전력거래량 (GWh),495361,47342,7581,55843,84168,61013,5944,103645,727,2863,742,65179,175,356,2815,2787,8741,45438
2015.1,전력거래량 비율 (%),100.0,9.6,1.5,11.3,17.0,12.3,1.2,20.9,0.1,0.6,0.1,13.2,0.0,0.1,0.6,0.6,1.8,9.2
2016,전력거래량 (GWh),509234,53907,9891,55226,77891,63504,8783,104044,1019,2935,836,62921,182,381,3093,2749,11444,50429
2016.1,전력거래량 비율 (%),100.0,10.6,1.9,10.8,15.3,12.5,1.7,20.4,0.2,0.6,0.2,12.4,0.0,0.1,0.6,0.5,2.2,9.9
2017,전력거래량 (GWh),520917,58961,19803,52652,79858,60694,8650,122424,1096,2944,810,59679,203,413,2657,2952,19553,27569
2017.1,전력거래량 비율 (%),100.0,11.3,3.8,10.1,15.3,11.7,1.7,23.5,0.2,0.6,0.2,11.5,0.0,0.1,0.5,0.6,3.8,5.3
2018,전력거래량 (GWh),537061,71010,29474,50336,72015,54295,10367,120715,1349,3215,616,59955,196,422,2626,3595,19902,36973
2018.1,전력거래량 비율 (%),100.0,13.2,5.5,9.4,13.4,10.1,1.9,22.5,0.3,0.6,0.1,11.2,0.0,0.1,0.5,0.7,3.7,6.9
2019,전력거래량 (GWh),529851,72987,26995,45523,75178,50263,10352,114874,1165,3723,1776,57443,174,429,2835,2371,27826,35938
2019.1,전력거래량 비율 (%),100.0,13.8,5.1,8.6,14.2,9.5,2.0,21.7,0.2,0.7,0.3,10.8,0.0,0.1,0.5,0.4,5.3,6.8
2020,전력거래량 (GWh),515983,70924,25593,32758,80585,51713,9871,105447,1551,3829,4956,54608,169,450,2511,3425,28611,38982
2020.1,전력거래량 비율 (%),100.0,13.7,5.0,6.3,15.6,10.0,1.9,20.4,0.3,0.7,1.0,10.6,0.0,0.1,0.5,0.7,5.5,7.6
2021 p),전력거래량 (GWh),537061,80234,27891,41105,75478,54381,10711,102740,1314,4074,5170,58059,177,461,2737,3642,30244,38643
2021 p).1,전력거래량 비율 (%),100.0,14.9,5.2,7.7,14.1,10.1,2.0,19.1,0.2,0.8,1.0,10.8,0.0,0.1,0.5,0.7,5.6,7.2
2022 p),전력거래량 (GWh),551380,83983,30959,46420,82646,51583,10483,99772,1701,4322,4183,52068,257,542,2370,3153,32279,44657
2022 p).1,전력거래량 비율 (%),100.0,15.2,5.6,8.4,15.0,9.4,1.9,18.1,0.3,0.8,0.8,9.4,0.0,0.1,0.4,0.6,5.9,8.1

In [17]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.set_index('지역별(/지역별(1)', inplace=True)
data.index.name = "지역"

- 연도별 분류

In [18]:
for idx, year in enumerate(range(2012, 2023)):
    extracted_data = data.iloc[:, idx*2:idx*2+2]
    extracted_data.columns = [column[5:] for column in extracted_data.columns]
    extracted_data.to_csv(f'result_EnergyTrading_{year}.csv')

**2. 행정구역별_용도별_판매전력량**

In [6]:
data = energy_sale_by_locations_usages.T
data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
용도별(1),용도별(1),합계,가정용,공공용,서비스업,농림어업,광업,제조업,제조업,제조업,...,제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차),제조업(10차)
용도별(2),용도별(2),소계,소계,소계,소계,소계,소계,소계,식료품,섬유 의복,...,금속가공,전자통신,의료광학,전기장비,기타기계,자동차,기타운송,가구,기타제품,산업기계
2012,계,466592949,63536151,21422339,132498774,12074003,1616371,235445313,9792879,12723373,...,-,-,-,-,-,-,-,-,-,-
2012.1,서울,47234102,13401442,3624262,28116229,14928,11283,2065958,242808,516170,...,-,-,-,-,-,-,-,-,-,-
2012.2,부산,20664842,4442765,1279869,7337031,97763,20053,7487361,522468,613058,...,-,-,-,-,-,-,-,-,-,-
2012.3,대구,14954958,3050594,661680,5378230,64790,3635,5796029,195756,1325169,...,-,-,-,-,-,-,-,-,-,-
2012.4,인천,22651946,3594327,892624,6326536,103592,72399,11662470,581697,114388,...,-,-,-,-,-,-,-,-,-,-
2012.5,광주,8130493,1760440,495329,3036596,65475,1331,2771323,153491,319034,...,-,-,-,-,-,-,-,-,-,-
2012.6,대전,9160107,1846191,1009641,3760029,25297,1967,2516982,169633,45426,...,-,-,-,-,-,-,-,-,-,-
2012.7,울산,29362724,1415434,372416,3440380,77373,20415,24036707,199490,1063263,...,-,-,-,-,-,-,-,-,-,-

In [7]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.head(10)

,용도별(/용도별(1),용도별(/용도별(2),2012/계,2012/서울,2012/부산,2012/대구,2012/인천,2012/광주,2012/대전,2012/울산,...,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주,2022/개성
1,합계,소계,466592949,47234102,20664842,14954958,22651946,8130493,9160107,29362724,...,140531012,17325520,29412227,50259638,21838474,34665105,44601033,36190920,6045356,-
2,가정용,소계,63536151,13401442,4442765,3050594,3594327,1760440,1846191,1415434,...,21128150,2332245,2434713,3250542,2597581,2606963,3763344,4863308,1005271,-
3,공공용,소계,21422339,3624262,1279869,661680,892624,495329,1009641,372416,...,6148678,1562036,1414053,1205339,1117563,1384767,1790827,1522501,360568,-
4,서비스업,소계,132498774,28116229,7337031,5378230,6326536,3036596,3760029,3440380,...,40545794,6626692,5613790,7707805,5313085,5915581,9033740,9371342,2843687,-
5,농림어업,소계,12074003,14928,97763,64790,103592,65475,25297,77373,...,2803262,791361,956883,2389068,1784102,3636671,2295285,2414495,1519101,-
6,광업,소계,1616371,11283,20053,3635,72399,1331,1967,20415,...,261890,445375,124485,339103,66663,76732,219137,61534,7929,-
7,제조업,소계,235445313,2065958,7487361,5796029,11662470,2771323,2516982,24036707,...,-,-,-,-,-,-,-,-,-,-
8,제조업,식료품,9792879,242808,522468,195756,581697,153491,169633,199490,...,-,-,-,-,-,-,-,-,-,-
9,제조업,섬유 의복,12723373,516170,613058,1325169,114388,319034,45426,1063263,...,-,-,-,-,-,-,-,-,-,-
10,제조업,목재 나무,1771975,5430,64533,18330,642429,6239,7893,14515,...,-,-,-,-,-,-,-,-,-,-

In [8]:
data = data.drop("용도별(/용도별(2)", axis=1)
data = pd.concat([data.iloc[:7], data.iloc[25:26]])
data.set_index('용도별(/용도별(1)', inplace=True)
data.index.name = "용도"
data

,2012/계,2012/서울,2012/부산,2012/대구,2012/인천,2012/광주,2012/대전,2012/울산,2012/세종,2012/경기,...,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주,2022/개성
용도,,,,,,,,,,,,,,,,,,,,,
합계,466592949,47234102,20664842,14954958,22651946,8130493,9160107,29362724,578610,100291952,...,140531012,17325520,29412227,50259638,21838474,34665105,44601033,36190920,6045356,-
가정용,63536151,13401442,4442765,3050594,3594327,1760440,1846191,1415434,35895,15445318,...,21128150,2332245,2434713,3250542,2597581,2606963,3763344,4863308,1005271,-
공공용,21422339,3624262,1279869,661680,892624,495329,1009641,372416,32970,5125386,...,6148678,1562036,1414053,1205339,1117563,1384767,1790827,1522501,360568,-
서비스업,132498774,28116229,7337031,5378230,6326536,3036596,3760029,3440380,107229,29826560,...,40545794,6626692,5613790,7707805,5313085,5915581,9033740,9371342,2843687,-
농림어업,12074003,14928,97763,64790,103592,65475,25297,77373,16863,1985029,...,2803262,791361,956883,2389068,1784102,3636671,2295285,2414495,1519101,-
광업,1616371,11283,20053,3635,72399,1331,1967,20415,4224,245369,...,261890,445375,124485,339103,66663,76732,219137,61534,7929,-
제조업,235445313,2065958,7487361,5796029,11662470,2771323,2516982,24036707,381428,47664290,...,-,-,-,-,-,-,-,-,-,-
제조업(10차),-,-,-,-,-,-,-,-,-,-,...,69643238,5567812,18868303,35367782,10959480,21044390,27498700,17957740,308801,-

In [15]:
data.loc["제조업"] = pd.concat([data.loc["제조업"][:113], data.loc["제조업(10차)"][113:]])
data = data.iloc[:-1]
data

,2012/계,2012/서울,2012/부산,2012/대구,2012/인천,2012/광주,2012/대전,2012/울산,2012/세종,2012/경기,...,2022/경기,2022/강원,2022/충북,2022/충남,2022/전북,2022/전남,2022/경북,2022/경남,2022/제주,2022/개성
용도,,,,,,,,,,,,,,,,,,,,,
합계,466592949,47234102,20664842,14954958,22651946,8130493,9160107,29362724,578610,100291952,...,140531012,17325520,29412227,50259638,21838474,34665105,44601033,36190920,6045356,-
가정용,63536151,13401442,4442765,3050594,3594327,1760440,1846191,1415434,35895,15445318,...,21128150,2332245,2434713,3250542,2597581,2606963,3763344,4863308,1005271,-
공공용,21422339,3624262,1279869,661680,892624,495329,1009641,372416,32970,5125386,...,6148678,1562036,1414053,1205339,1117563,1384767,1790827,1522501,360568,-
서비스업,132498774,28116229,7337031,5378230,6326536,3036596,3760029,3440380,107229,29826560,...,40545794,6626692,5613790,7707805,5313085,5915581,9033740,9371342,2843687,-
농림어업,12074003,14928,97763,64790,103592,65475,25297,77373,16863,1985029,...,2803262,791361,956883,2389068,1784102,3636671,2295285,2414495,1519101,-
광업,1616371,11283,20053,3635,72399,1331,1967,20415,4224,245369,...,261890,445375,124485,339103,66663,76732,219137,61534,7929,-
제조업,235445313,2065958,7487361,5796029,11662470,2771323,2516982,24036707,381428,47664290,...,69643238,5567812,18868303,35367782,10959480,21044390,27498700,17957740,308801,-

In [30]:
for idx, year in enumerate(range(2012, 2023)):
    if year < 2017: extracted_data = data.iloc[:, idx*19:(idx+1)*19]
    elif year == 2017: extracted_data = data.iloc[:, idx*19:(idx+1)*19-1]
    else: extracted_data = data.iloc[:, idx*19-1:(idx+1)*19-1]
    extracted_data.columns = [column[5:] for column in extracted_data.columns]
    extracted_data.to_csv(f'result_SalesPower_{year}.csv')

**3. 지역별 신재생에너지 생산량**

In [ ]:
data = renew_energy_production_by_locations.T
data.head()

In [ ]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.head(10)

In [ ]:
data = data[data.iloc[:,2] == "소계"]
data = data.drop("에너지원/에너지원별(3)", axis=1)
data.loc[1, "에너지원/에너지원별(2)"] = data.loc[1, "에너지원/에너지원별(1)"]
data.loc[4, "에너지원/에너지원별(2)"] = data.loc[4, "에너지원/에너지원별(1)"]
data = data.drop("에너지원/에너지원별(1)", axis=1)
data.set_index('에너지원/에너지원별(2)', inplace=True)
data.index.name = "에너지원"
data

In [ ]:
data.replace("-", 0, inplace=True)
years = range(2012, 2023)
data_frames = []
for year in years:
    start = (year - 2012) *18
    end = start +18
    # 반복되는 작업을 변수 생성하며 저장
    globals()[f"data_{year}"] = data.iloc[:, start:end]
for year, data_year in zip(years, [data_2012, data_2013, data_2014, data_2015, data_2016, data_2017, data_2018, data_2019, data_2020, data_2021, data_2022]):
    data_year.columns = [i[5:] for i in data_year.columns]
    globals()[f"data_{year}"] = data_year.T
    data_year.to_csv(f'result_RenewEnergyProduction_{year}.csv')

**4. 지역별 신재생에너지 발전량**

In [ ]:
data = renew_energy_generations_by_locations.T
data.head(10)

In [ ]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.head(10)

In [ ]:
data = data[data.iloc[:,2] == "소계"]
data = data.drop(["에너지원/에너지원별(3)", "에너지원/에너지원별(4)"], axis=1)
data.loc[1, "에너지원/에너지원별(2)"] = data.loc[1, "에너지원/에너지원별(1)"]
data.loc[10, "에너지원/에너지원별(2)"] = data.loc[10, "에너지원/에너지원별(1)"]
data = data.drop([2,3])
data = data.drop("에너지원/에너지원별(1)", axis=1)
data.set_index('에너지원/에너지원별(2)', inplace=True)
data.index.name = "에너지원"
data

In [ ]:
data.replace("-", 0, inplace=True)
years = range(2012, 2023)
data_frames = []
for year in years:
    start = (year - 2012) *18
    end = start +18
    # 반복되는 작업을 변수 생성하며 저장
    globals()[f"data_{year}"] = data.iloc[:, start:end]
for year, data_year in zip(years, [data_2012, data_2013, data_2014, data_2015, data_2016, data_2017, data_2018, data_2019, data_2020, data_2021, data_2022]):
    data_year.columns = [i[5:] for i in data_year.columns]
    globals()[f"data_{year}"] = data_year.T
    data_year.to_csv(f'result_RenewEnergyGeneration_{year}.csv')

**5. 지역별 부문별 소비실적**

In [14]:
data = energy_consumption_by_locations.T
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
지역별(1),지역별(1),계,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2013,총계,151037242,1874442,3409887,757691,18072346,414002,588745,12881205,259252,11441370,4244324,2634862,39662689,3224579,23214821,11453904,16215053,688070
2013.1,산업,80564808,511550,765756,698552,4733175,374537,414813,9768434,142364,7962127,2679430,2605459,13414407,2281109,21256008,11156098,1791700,9289
2013.2,건물,2306560,1020009,142504,59139,92023,39464,173933,16942,1874,416485,98478,29403,52632,36626,13161,49319,47023,17547
2013.3,발전,68165874,342883,2501628,-,13247147,-,-,3095829,115014,3062758,1466417,-,26195650,906844,1945652,248487,14376330,661234

In [15]:
data.index = [i[:4]+"/"+j for i,j in zip(data.index, data[0])]
data = data.drop(0, axis=1).T
data.set_index('지역별(/지역별(1)', inplace=True)
data.index.name = "지역"
data

,2013/총계,2013/산업,2013/건물,2013/발전,2013/계(발전제외),2014/총계,2014/산업,2014/건물,2014/발전,2014/계(발전제외),...,2021/건물,2021/수송,2021/발전,2021/계(발전제외),2022/총계,2022/산업,2022/건물,2022/수송,2022/발전,2022/계(발전제외)
지역,,,,,,,,,,,,,,,,,,,,,
계,151037242,80564808,2306560,68165874,82871368,153577930,87354493,2323715,63899722,89678208,...,2947581,2840652,52335829,110021612,159111027,102690999,3179263,2879226,50361539,108749488
서울,1874442,511550,1020009,342883,1531559,1550804,454947,981610,X,X,...,1083970,1021857,X,2483116,X,416623,1149622,1040780,X,2607025
부산,3409887,765756,142504,2501628,908259,2993116,800815,147690,X,X,...,185605,340142,X,1264303,X,733396,192351,344440,X,1270187
대구,757691,698552,59139,-,757691,795881,735130,60752,-,795881,...,77871,77787,-,1211986,1165227,1001669,84660,78898,-,1165227
인천,18072346,4733175,92023,13247147,4825199,17921528,4710886,107893,13102749,4818779,...,153777,119384,9727109,4926917,13359509,4174058,166295,126810,8892346,4467163
광주,414002,374537,39464,-,414002,387182,342292,44890,-,387182,...,43654,30109,-,410061,409018,335596,47187,26235,-,409018
대전,588745,414813,173933,-,588745,578692,404821,173871,-,578692,...,200231,333511,-,930373,915067,380548,213930,320589,-,915067
울산,12881205,9768434,16942,3095829,9785376,11800069,9838569,18705,X,X,...,22700,43821,X,11676382,X,11163931,22598,47232,X,11233761
세종,259252,142364,1874,115014,144238,654615,150065,X,X,X,...,14524,-,X,189815,X,189854,14857,-,X,204710
경기,11441370,7962127,416485,3062758,8378612,11629215,9141514,449311,2038389,9590826,...,712522,467647,2045419,19396084,22641088,19118946,797934,450932,2273277,20367811
강원,4244324,2679430,98478,1466417,2777907,4720757,2725130,102205,1893422,2827335,...,111354,26574,3529265,4528733,9108374,4951493,126054,38128,3992700,5115674
충북,2634862,2605459,29403,-,2634862,2637086,2603106,33980,-,2637086,...,52511,49983,-,3333840,3359185,3255048,54817,49320,-,3359185
충남,39662689,13414407,52632,26195650,13467039,41881226,16796338,49317,25035571,16845655,...,46833,33138,22174188,16717517,38337059,17086308,62116,33554,21155082,17181977
전북,3224579,2281109,36626,906844,2317735,3354212,2516218,35742,X,X,...,38136,39378,X,3175537,X,2855605,41228,40000,X,2936834
전남,23214821,21256008,13161,1945652,21269169,24472807,22610293,X,1853327,22619480,...,23250,81320,1899081,24250264,23626333,22461725,22879,97027,1044702,22581631
경북,11453904,11156098,49319,248487,11205417,12367713,11802395,39443,525875,11841838,...,56378,71223,419261,11704373,10673381,10091366,58929,67147,455940,10217442
경남,16215053,1791700,47023,14376330,1838723,15257463,1712670,44611,13500181,1757282,...,88263,76859,7219639,3740879,12278005,4456729,86191,83713,7651372,4626633
제주,688070,9289,17547,661234,26835,575564,9304,18207,548054,27510,...,36003,27921,380405,81431,630321,18105,37618,34420,540178,90143

In [17]:
data_list = [data.iloc[:, :5], data.iloc[:, 5:10]] + [data.iloc[:, i:i+6] for i in range(10, len(data.columns), 6)]
data_list[0].head()

      2013/총계   2013/산업  2013/건물   2013/발전 2013/계(발전제외)
지역
계   151037242  80564808  2306560  68165874     82871368
서울    1874442    511550  1020009    342883      1531559
부산    3409887    765756   142504   2501628       908259
대구     757691    698552    59139         -       757691
인천   18072346   4733175    92023  13247147      4825199

In [18]:
data_list[-1].head()

      2022/총계    2022/산업  2022/건물  2022/수송   2022/발전 2022/계(발전제외)
지역
계   159111027  102690999  3179263  2879226  50361539    108749488
서울          X     416623  1149622  1040780         X      2607025
부산          X     733396   192351   344440         X      1270187
대구    1165227    1001669    84660    78898         -      1165227
인천   13359509    4174058   166295   126810   8892346      4467163

In [20]:
for idx, i in enumerate(range(2013, 2023)):
    data_list[idx].columns = [j[5:] for j in data_list[idx].columns]
    data_list[idx].to_csv(f"data_csv/result_EnergyConsumption_{i}.csv")

6. 발전전력량 추이

In [12]:
data = energy_generations_by_year_month
data.set_index("월별(1)", inplace=True)
data.index.name = "월"
data

,2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6,2015.7,2015.8,2015.9,...,2022.36,2022.37,2022.38,2022.39,2022.40,2022.41,2022.42,2022.43,2022.44,2022.45
월,,,,,,,,,,,,,,,,,,,,,
월별(1),한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,...,사업자(종합),사업자(종합),사업자(종합),사업자(종합),사업자(종합),상용자가,상용자가,상용자가,총발전량,총발전량
월별(1),소계,수력,수력,수력,수력,기력,기력,기력,기력,기력,...,원자력,신재생,집단,내연력,기타,소계,한전구입,자가소비,사업자+한전구입,사업자+상용자가
월별(1),소계,소계,일반,양수,소수력,소계,무연탄,유연탄,중유,LNG,...,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계
합계,432758183,4427049,608281,3650320,168447,216378173,7438271,199895424,8822006,222472,...,176054012,47266256,49158704,570046,1171543,30650791,451043,30199748,594400365,624600113
1월,40246639,391618,35028,343248,13341,19981160,747773,18595501,565283,72603,...,16103260,3470434,5585160,54726,87518,...,43696,...,54792301,...
2월,34831198,356839,39561,305124,12154,17655058,650190,16346181,611868,46819,...,13989890,3745027,5045196,58129,84515,...,72864,...,48487502,...
3월,36989660,381252,40644,327216,13393,19147935,703659,16953652,1490624,-,...,13866525,3880039,5324102,60216,97061,...,25090,...,49659153,...
4월,33667819,270808,60936,194723,15149,17006886,597629,15626311,782872,74,...,13385162,4268206,3916566,53290,97776,...,24337,...,44858870,...
5월,33674327,268335,80413,173165,14757,17006381,644195,15950787,410329,1070,...,14609832,4893738,2885380,40090,98190,...,14217,...,46180830,...
6월,34411374,220718,68059,139428,13231,16999332,716365,16032178,250789,-,...,14725941,3829447,3426932,41707,98344,...,13735,...,47586861,...
7월,38696606,598630,91898,488581,18151,18729746,631894,17898976,198876,-,...,15354809,4021608,3853755,63090,108010,...,16742,...,55027406,...
8월,38472669,572393,50520,505854,16020,19557872,666210,18502378,389283,-,...,16308978,3961663,3621352,47316,101643,...,55743,...,53963962,...
9월,33954893,443808,59636,370935,13237,16636681,560390,15709191,367100,-,...,14093577,3971828,2873874,31613,96034,...,37494,...,46308310,...
10월,33806066,334238,42191,278022,14025,15884413,430775,14901645,549966,2026,...,14381733,4188030,3338275,39605,103911,...,99070,...,45741659,...
11월,34781242,271747,21610,237501,12636,17490555,468437,15404103,1605408,12606,...,14005635,3504268,3940448,35487,98801,...,24701,...,46223019,...
12월,39225690,316664,17787,286524,12353,20282155,620752,17974521,1599608,87274,...,15228671,3531968,5347664,44778,99739,...,23354,...,55570492,...

In [13]:
data_list = []

for year in range(2015, 2023):
    year_columns = [column for column in data.columns if str(year) in column]
    data_list.append(data[year_columns])

In [14]:
data_list[0]

,2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6,2015.7,2015.8,2015.9,...,2015.29,2015.30,2015.31,2015.32,2015.33,2015.34,2015.35,2015.36,2015.37,2015.38
월,,,,,,,,,,,,,,,,,,,,,
월별(1),한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,...,사업자(종합),사업자(종합),사업자(종합),사업자(종합),사업자(종합),사업자(종합),사업자(종합),사업자(종합),상용자가,총발전량
월별(1),소계,수력,수력,수력,수력,기력,기력,기력,기력,기력,...,기력,기력,기력,복합화력,원자력,신재생,집단,내연력,한전구입,사업자+한전구입
월별(1),소계,소계,일반,양수,소수력,소계,무연탄,유연탄,중유,LNG,...,유연탄,중유,LNG,소계,소계,소계,소계,소계,소계,소계
합계,432758183,4427049,608281,3650320,168447,216378173,7438271,199895424,8822006,222472,...,199895424,8822006,222472,100598385,164762416,17317949,22018711,643164,576355,528091193
1월,40246639,391618,35028,343248,13341,19981160,747773,18595501,565283,72603,...,18595501,565283,72603,10157844,14219729,1389857,2492152,51511,102306,48941856
2월,34831198,356839,39561,305124,12154,17655058,650190,16346181,611868,46819,...,16346181,611868,46819,8389732,12085324,1222329,2080104,47119,92741,42063459
3월,36989660,381252,40644,327216,13393,19147935,703659,16953652,1490624,-,...,16953652,1490624,-,9495291,13053018,1462182,1911254,72461,74550,45741749
4월,33667819,270808,60936,194723,15149,17006886,597629,15626311,782872,74,...,15626311,782872,74,8014525,13015704,1383634,1575627,56829,34204,41517058
5월,33674327,268335,80413,173165,14757,17006381,644195,15950787,410329,1070,...,15950787,410329,1070,7696793,12591490,1470631,1467888,65980,31376,40788967
6월,34411374,220718,68059,139428,13231,16999332,716365,16032178,250789,-,...,16032178,250789,-,7809964,13516245,1425380,1404024,45227,22862,41582912
7월,38696606,598630,91898,488581,18151,18729746,631894,17898976,198876,-,...,17898976,198876,-,7283141,15836561,1476371,1207524,45183,20888,45295768
8월,38472669,572393,50520,505854,16020,19557872,666210,18502378,389283,-,...,18502378,389283,-,9134407,13282426,1527339,1472607,51643,16306,45707445
9월,33954893,443808,59636,370935,13237,16636681,560390,15709191,367100,-,...,15709191,367100,-,7978850,12789518,1524743,1470307,46953,17796,40974839
10월,33806066,334238,42191,278022,14025,15884413,430775,14901645,549966,2026,...,14901645,549966,2026,9221264,14364628,1616812,1799171,41453,27730,43365878
11월,34781242,271747,21610,237501,12636,17490555,468437,15404103,1605408,12606,...,15404103,1605408,12606,8035510,14807909,1331201,2276498,57958,53765,44384437
12월,39225690,316664,17787,286524,12353,20282155,620752,17974521,1599608,87274,...,17974521,1599608,87274,7381063,15199864,1487470,2861556,60847,81831,47726824

In [15]:
data_list[-1]

,2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7,2022.8,2022.9,...,2022.36,2022.37,2022.38,2022.39,2022.40,2022.41,2022.42,2022.43,2022.44,2022.45
월,,,,,,,,,,,,,,,,,,,,,
월별(1),한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,한전 및 자회사,...,사업자(종합),사업자(종합),사업자(종합),사업자(종합),사업자(종합),상용자가,상용자가,상용자가,총발전량,총발전량
월별(1),소계,수력,수력,수력,수력,기력,기력,기력,기력,기력,...,원자력,신재생,집단,내연력,기타,소계,한전구입,자가소비,사업자+한전구입,사업자+상용자가
월별(1),소계,소계,일반,양수,소수력,소계,무연탄,유연탄,중유,LNG,...,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계
합계,408441461,5043366,1203185,3715049,125132,165999900,1870760,162400003,351793,1377345,...,176054012,47266256,49158704,570046,1171543,30650791,451043,30199748,594400365,624600113
1월,38575652,382729,41931,330407,10391,16521623,-,16157270,351793,12561,...,16103260,3470434,5585160,54726,87518,...,43696,...,54792301,...
2월,33016704,369163,36696,323696,8771,13635610,-,13602760,-,32850,...,13989890,3745027,5045196,58129,84515,...,72864,...,48487502,...
3월,31875258,413916,61187,343746,8983,11683698,140,11508474,-,175084,...,13866525,3880039,5324102,60216,97061,...,25090,...,49659153,...
4월,29519015,327894,53005,266487,8402,11228739,236341,10952960,-,39438,...,13385162,4268206,3916566,53290,97776,...,24337,...,44858870,...
5월,31436952,376854,75535,293676,7643,11992770,166562,11709780,-,116428,...,14609832,4893738,2885380,40090,98190,...,14217,...,46180830,...
6월,33536092,399386,114153,276411,8822,13765070,156796,13476359,-,131916,...,14725941,3829447,3426932,41707,98344,...,13735,...,47586861,...
7월,38923712,522954,222253,286805,13896,17319132,274298,16885548,-,159287,...,15354809,4021608,3853755,63090,108010,...,16742,...,55027406,...
8월,38074941,564500,220057,328960,15483,16248273,273412,15917047,-,57814,...,16308978,3961663,3621352,47316,101643,...,55743,...,53963962,...
9월,32037970,481276,152796,316068,12412,13397417,149742,13159753,-,87922,...,14093577,3971828,2873874,31613,96034,...,37494,...,46308310,...
10월,31332137,430161,95362,323630,11169,11915661,197904,11567589,-,150169,...,14381733,4188030,3338275,39605,103911,...,99070,...,45741659,...
11월,31919754,392196,71343,312238,8616,12443691,141076,12115209,-,187406,...,14005635,3504268,3940448,35487,98801,...,24701,...,46223019,...
12월,38193276,382337,58867,312926,10544,15848214,274490,15347254,-,226470,...,15228671,3531968,5347664,44778,99739,...,23354,...,55570492,...

In [16]:
for data in data_list:
    new_columns = [i + " " + j + " " + k for i,j,k in zip(data.iloc[0], data.iloc[1], data.iloc[2])]
    data.columns = new_columns
    data.drop(data.index[:3], inplace=True)
data_list[0]

C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)
C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)
C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)
C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)
C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)
C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)
C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)
C:\Users\LG\AppData\Local\Temp\ipykernel_20988\2118418475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.index[:3], inplace=True)

,한전 및 자회사 소계 소계,한전 및 자회사 수력 소계,한전 및 자회사 수력 일반,한전 및 자회사 수력 양수,한전 및 자회사 수력 소수력,한전 및 자회사 기력 소계,한전 및 자회사 기력 무연탄,한전 및 자회사 기력 유연탄,한전 및 자회사 기력 중유,한전 및 자회사 기력 LNG,...,사업자(종합) 기력 유연탄,사업자(종합) 기력 중유,사업자(종합) 기력 LNG,사업자(종합) 복합화력 소계,사업자(종합) 원자력 소계,사업자(종합) 신재생 소계,사업자(종합) 집단 소계,사업자(종합) 내연력 소계,상용자가 한전구입 소계,총발전량 사업자+한전구입 소계
월,,,,,,,,,,,,,,,,,,,,,
합계,432758183,4427049,608281,3650320,168447,216378173,7438271,199895424,8822006,222472,...,199895424,8822006,222472,100598385,164762416,17317949,22018711,643164,576355,528091193
1월,40246639,391618,35028,343248,13341,19981160,747773,18595501,565283,72603,...,18595501,565283,72603,10157844,14219729,1389857,2492152,51511,102306,48941856
2월,34831198,356839,39561,305124,12154,17655058,650190,16346181,611868,46819,...,16346181,611868,46819,8389732,12085324,1222329,2080104,47119,92741,42063459
3월,36989660,381252,40644,327216,13393,19147935,703659,16953652,1490624,-,...,16953652,1490624,-,9495291,13053018,1462182,1911254,72461,74550,45741749
4월,33667819,270808,60936,194723,15149,17006886,597629,15626311,782872,74,...,15626311,782872,74,8014525,13015704,1383634,1575627,56829,34204,41517058
5월,33674327,268335,80413,173165,14757,17006381,644195,15950787,410329,1070,...,15950787,410329,1070,7696793,12591490,1470631,1467888,65980,31376,40788967
6월,34411374,220718,68059,139428,13231,16999332,716365,16032178,250789,-,...,16032178,250789,-,7809964,13516245,1425380,1404024,45227,22862,41582912
7월,38696606,598630,91898,488581,18151,18729746,631894,17898976,198876,-,...,17898976,198876,-,7283141,15836561,1476371,1207524,45183,20888,45295768
8월,38472669,572393,50520,505854,16020,19557872,666210,18502378,389283,-,...,18502378,389283,-,9134407,13282426,1527339,1472607,51643,16306,45707445
9월,33954893,443808,59636,370935,13237,16636681,560390,15709191,367100,-,...,15709191,367100,-,7978850,12789518,1524743,1470307,46953,17796,40974839
10월,33806066,334238,42191,278022,14025,15884413,430775,14901645,549966,2026,...,14901645,549966,2026,9221264,14364628,1616812,1799171,41453,27730,43365878
11월,34781242,271747,21610,237501,12636,17490555,468437,15404103,1605408,12606,...,15404103,1605408,12606,8035510,14807909,1331201,2276498,57958,53765,44384437
12월,39225690,316664,17787,286524,12353,20282155,620752,17974521,1599608,87274,...,17974521,1599608,87274,7381063,15199864,1487470,2861556,60847,81831,47726824

In [17]:
data_list[-1]

,한전 및 자회사 소계 소계,한전 및 자회사 수력 소계,한전 및 자회사 수력 일반,한전 및 자회사 수력 양수,한전 및 자회사 수력 소수력,한전 및 자회사 기력 소계,한전 및 자회사 기력 무연탄,한전 및 자회사 기력 유연탄,한전 및 자회사 기력 중유,한전 및 자회사 기력 LNG,...,사업자(종합) 원자력 소계,사업자(종합) 신재생 소계,사업자(종합) 집단 소계,사업자(종합) 내연력 소계,사업자(종합) 기타 소계,상용자가 소계 소계,상용자가 한전구입 소계,상용자가 자가소비 소계,총발전량 사업자+한전구입 소계,총발전량 사업자+상용자가 소계
월,,,,,,,,,,,,,,,,,,,,,
합계,408441461,5043366,1203185,3715049,125132,165999900,1870760,162400003,351793,1377345,...,176054012,47266256,49158704,570046,1171543,30650791,451043,30199748,594400365,624600113
1월,38575652,382729,41931,330407,10391,16521623,-,16157270,351793,12561,...,16103260,3470434,5585160,54726,87518,...,43696,...,54792301,...
2월,33016704,369163,36696,323696,8771,13635610,-,13602760,-,32850,...,13989890,3745027,5045196,58129,84515,...,72864,...,48487502,...
3월,31875258,413916,61187,343746,8983,11683698,140,11508474,-,175084,...,13866525,3880039,5324102,60216,97061,...,25090,...,49659153,...
4월,29519015,327894,53005,266487,8402,11228739,236341,10952960,-,39438,...,13385162,4268206,3916566,53290,97776,...,24337,...,44858870,...
5월,31436952,376854,75535,293676,7643,11992770,166562,11709780,-,116428,...,14609832,4893738,2885380,40090,98190,...,14217,...,46180830,...
6월,33536092,399386,114153,276411,8822,13765070,156796,13476359,-,131916,...,14725941,3829447,3426932,41707,98344,...,13735,...,47586861,...
7월,38923712,522954,222253,286805,13896,17319132,274298,16885548,-,159287,...,15354809,4021608,3853755,63090,108010,...,16742,...,55027406,...
8월,38074941,564500,220057,328960,15483,16248273,273412,15917047,-,57814,...,16308978,3961663,3621352,47316,101643,...,55743,...,53963962,...
9월,32037970,481276,152796,316068,12412,13397417,149742,13159753,-,87922,...,14093577,3971828,2873874,31613,96034,...,37494,...,46308310,...
10월,31332137,430161,95362,323630,11169,11915661,197904,11567589,-,150169,...,14381733,4188030,3338275,39605,103911,...,99070,...,45741659,...
11월,31919754,392196,71343,312238,8616,12443691,141076,12115209,-,187406,...,14005635,3504268,3940448,35487,98801,...,24701,...,46223019,...
12월,38193276,382337,58867,312926,10544,15848214,274490,15347254,-,226470,...,15228671,3531968,5347664,44778,99739,...,23354,...,55570492,...

In [18]:
for data in data_list:
    for column in data.columns:
        if "소계 소계" in column:
            data.columns = [i.replace("소계 소계", "총계") for i in data.columns]
            
data_list[0]

,한전 및 자회사 총계,한전 및 자회사 수력 소계,한전 및 자회사 수력 일반,한전 및 자회사 수력 양수,한전 및 자회사 수력 소수력,한전 및 자회사 기력 소계,한전 및 자회사 기력 무연탄,한전 및 자회사 기력 유연탄,한전 및 자회사 기력 중유,한전 및 자회사 기력 LNG,...,사업자(종합) 기력 유연탄,사업자(종합) 기력 중유,사업자(종합) 기력 LNG,사업자(종합) 복합화력 소계,사업자(종합) 원자력 소계,사업자(종합) 신재생 소계,사업자(종합) 집단 소계,사업자(종합) 내연력 소계,상용자가 한전구입 소계,총발전량 사업자+한전구입 소계
월,,,,,,,,,,,,,,,,,,,,,
합계,432758183,4427049,608281,3650320,168447,216378173,7438271,199895424,8822006,222472,...,199895424,8822006,222472,100598385,164762416,17317949,22018711,643164,576355,528091193
1월,40246639,391618,35028,343248,13341,19981160,747773,18595501,565283,72603,...,18595501,565283,72603,10157844,14219729,1389857,2492152,51511,102306,48941856
2월,34831198,356839,39561,305124,12154,17655058,650190,16346181,611868,46819,...,16346181,611868,46819,8389732,12085324,1222329,2080104,47119,92741,42063459
3월,36989660,381252,40644,327216,13393,19147935,703659,16953652,1490624,-,...,16953652,1490624,-,9495291,13053018,1462182,1911254,72461,74550,45741749
4월,33667819,270808,60936,194723,15149,17006886,597629,15626311,782872,74,...,15626311,782872,74,8014525,13015704,1383634,1575627,56829,34204,41517058
5월,33674327,268335,80413,173165,14757,17006381,644195,15950787,410329,1070,...,15950787,410329,1070,7696793,12591490,1470631,1467888,65980,31376,40788967
6월,34411374,220718,68059,139428,13231,16999332,716365,16032178,250789,-,...,16032178,250789,-,7809964,13516245,1425380,1404024,45227,22862,41582912
7월,38696606,598630,91898,488581,18151,18729746,631894,17898976,198876,-,...,17898976,198876,-,7283141,15836561,1476371,1207524,45183,20888,45295768
8월,38472669,572393,50520,505854,16020,19557872,666210,18502378,389283,-,...,18502378,389283,-,9134407,13282426,1527339,1472607,51643,16306,45707445
9월,33954893,443808,59636,370935,13237,16636681,560390,15709191,367100,-,...,15709191,367100,-,7978850,12789518,1524743,1470307,46953,17796,40974839
10월,33806066,334238,42191,278022,14025,15884413,430775,14901645,549966,2026,...,14901645,549966,2026,9221264,14364628,1616812,1799171,41453,27730,43365878
11월,34781242,271747,21610,237501,12636,17490555,468437,15404103,1605408,12606,...,15404103,1605408,12606,8035510,14807909,1331201,2276498,57958,53765,44384437
12월,39225690,316664,17787,286524,12353,20282155,620752,17974521,1599608,87274,...,17974521,1599608,87274,7381063,15199864,1487470,2861556,60847,81831,47726824

In [19]:
data_list[-1]

,한전 및 자회사 총계,한전 및 자회사 수력 소계,한전 및 자회사 수력 일반,한전 및 자회사 수력 양수,한전 및 자회사 수력 소수력,한전 및 자회사 기력 소계,한전 및 자회사 기력 무연탄,한전 및 자회사 기력 유연탄,한전 및 자회사 기력 중유,한전 및 자회사 기력 LNG,...,사업자(종합) 원자력 소계,사업자(종합) 신재생 소계,사업자(종합) 집단 소계,사업자(종합) 내연력 소계,사업자(종합) 기타 소계,상용자가 총계,상용자가 한전구입 소계,상용자가 자가소비 소계,총발전량 사업자+한전구입 소계,총발전량 사업자+상용자가 소계
월,,,,,,,,,,,,,,,,,,,,,
합계,408441461,5043366,1203185,3715049,125132,165999900,1870760,162400003,351793,1377345,...,176054012,47266256,49158704,570046,1171543,30650791,451043,30199748,594400365,624600113
1월,38575652,382729,41931,330407,10391,16521623,-,16157270,351793,12561,...,16103260,3470434,5585160,54726,87518,...,43696,...,54792301,...
2월,33016704,369163,36696,323696,8771,13635610,-,13602760,-,32850,...,13989890,3745027,5045196,58129,84515,...,72864,...,48487502,...
3월,31875258,413916,61187,343746,8983,11683698,140,11508474,-,175084,...,13866525,3880039,5324102,60216,97061,...,25090,...,49659153,...
4월,29519015,327894,53005,266487,8402,11228739,236341,10952960,-,39438,...,13385162,4268206,3916566,53290,97776,...,24337,...,44858870,...
5월,31436952,376854,75535,293676,7643,11992770,166562,11709780,-,116428,...,14609832,4893738,2885380,40090,98190,...,14217,...,46180830,...
6월,33536092,399386,114153,276411,8822,13765070,156796,13476359,-,131916,...,14725941,3829447,3426932,41707,98344,...,13735,...,47586861,...
7월,38923712,522954,222253,286805,13896,17319132,274298,16885548,-,159287,...,15354809,4021608,3853755,63090,108010,...,16742,...,55027406,...
8월,38074941,564500,220057,328960,15483,16248273,273412,15917047,-,57814,...,16308978,3961663,3621352,47316,101643,...,55743,...,53963962,...
9월,32037970,481276,152796,316068,12412,13397417,149742,13159753,-,87922,...,14093577,3971828,2873874,31613,96034,...,37494,...,46308310,...
10월,31332137,430161,95362,323630,11169,11915661,197904,11567589,-,150169,...,14381733,4188030,3338275,39605,103911,...,99070,...,45741659,...
11월,31919754,392196,71343,312238,8616,12443691,141076,12115209,-,187406,...,14005635,3504268,3940448,35487,98801,...,24701,...,46223019,...
12월,38193276,382337,58867,312926,10544,15848214,274490,15347254,-,226470,...,15228671,3531968,5347664,44778,99739,...,23354,...,55570492,...

In [20]:
for i in range(2015, 2023):
    data_list[i-2015].to_csv(f"data_csv/result_EnergyGeneration/result_EnergyGeneration_{i}.csv")